{% extends 'base.html.twig' %}

{% block title %}Entreprise index{% endblock %}

{% block body %}
<h1>Entreprise index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Image</th>
            <th>Numero</th>
            <th>Descriptif</th>
            <th>Localisation</th>
            <th>Stages</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

    {% for entreprise in entreprises %}

        <tr>
            <td>{{ entreprise.id }}</td>
            <td>{{ entreprise.nom }}</td>
            <td><a href="mailto:{{ entreprise.email }}">{{ entreprise.email }}</a></td>
            <td><img src="{{ entreprise.image }}" width="100"></td>
            <td>{{ entreprise.numero }}</td>
            <td>{{ entreprise.descriptif }}</td>
            <td>{{ entreprise.localisation }}</td>
            <td>{{ entreprise.internships|length }}</td>
            <td>
                <a href="{{ path('app_entreprise_show', {'id': entreprise.id}) }}">show</a>
                <a href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}">edit</a>
            </td>
        </tr>


    {% else %}
        <tr>
            <td colspan="9">no records found</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

<a href="{{ path('app_entreprise_new') }}">Create new</a>

{% endblock %}