{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
    <h1>Entreprise</h1>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entreprise.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entreprise.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entreprise.email }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ entreprise.image }}" alt="Image" width="100"></td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ entreprise.numero }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ entreprise.descriptif }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ entreprise.localisation }}</td>
            </tr>
            <tr>
                {% for stage in entreprise.internships %}
            <tr>
                <th>Date de stages</th>
                <td>{{ stage.date|date('Y') }}</td>
            </tr>
            <tr>
                <th>Filière</th>
                <td>{{ stage.formation.nom }}</td>
            </tr>
            <tr>
                <th>Année d'études</th>
                <td>{{ stage.annee }}</td>
            </tr>
            
                <th>Résumé du stage</th>
                <td>{{ stage.resume }}</td>
            </tr>
            {% endfor %}
                </td>
            </tr>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_entreprise_index') }}">back to list</a>

    <a href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}">edit</a>

    {{ include('entreprise/_delete_form.html.twig') }}
{% endblock %}
