{% extends 'base.html.twig' %}

{% block title %}Prof index{% endblock %}

{% block body %}
    <h1>Prof index</h1>

        <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img src="/images/logo.jpeg" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
            <a class="navbar-brand" href="/#">Décroche ton stage !<p class="fs-6 fw-light mb-0">Le bouche à oreille 2.0</p></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav w-100">
                    <a class="nav-link" href="/#home">Accueil</a>
                    <a class="nav-link" href="/#tuto">Comment ça marche ?</a>
                    <a class="nav-link" href="/page1">Se lancer</a>
                    <a class="nav-link" href="/login">Se connecter</a>
                    <a class="nav-link active" aria-current="page" href="/prof">Espace Admin</a>
                </div>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prof in profs %}
            <tr>
                <td>{{ prof.id }}</td>
                <td>{{ prof.username }}</td>
                <td>{{ prof.roles ? prof.roles|json_encode : '' }}</td>
                <td>{{ prof.password }}</td>
                <td>
                    <a href="{{ path('app_prof_show', {'id': prof.id}) }}">show</a>
                    <a href="{{ path('app_prof_edit', {'id': prof.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_prof_new') }}">Create new</a>
{% endblock %}
